*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
.idea/*
target/*

*.idea*

*.iml

*/target/*

*.lst

.DS_Store
xls_ical/interpreter/target/maven-archiver/pom.properties
xls_ical/interpreter/target/surefire-reports/TEST-TestPackage.xml
xls_ical/interpreter/target/surefire-reports/TEST-TestSeeker.xml
xls_ical/interpreter/target/surefire-reports/TestPackage.txt
xls_ical/interpreter/target/surefire-reports/TestSeeker.txt
*.ics
